<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="../../User.config"> <!--Copy/paste this section in separate file-->
    <add key="StorageConnectionString" value="**AZURE TABLE STORAGE CONNECTION STRING HERE **" />
    <add key="LeagueURL" value="https://www.dirtgame.com/uk/api/event?assists=any&amp;group=all&amp;leaderboard=true&amp;nameSearch=&amp;number=10&amp;wheel=any" />
    <add key="EventId" value="**EVENTID LEAGUE**"/>
    <add key="EventInfo" value="** A SHORT DESCRIPTION**"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>